@import "./colors";

body {
  background-color: var(--color-grey-800);
}

main {
  margin: 3rem auto 0;
  padding: 2rem;
  max-width: 600px;
  min-height: 60vh;
  background-color: var(--color-grey-100);
}

button {
  padding: 0.5rem 4rem;
  border: 1px solid var(--color-grey-400);
  border-radius: 0.25rem;
}
